/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0px;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
body {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 110px 0px 50px;
}
section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  padding: 0 10px;
  font-size: 1.2em;
}

li:hover {
  color: #b1663c;
}
#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
  width: 70%;
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.42px;
  text-align: left;
}
#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
}
.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
}
#contact {
  width: 50%;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}

/* CSS #portfolio filters */
html {
  background-color: #fffef8;
}
button {
  font-family: "Syne";
  font-size: 16px;
  font-weight: 700;
  height: 37px;
  text-align: center;
  border: 1px solid #1d6154;
  color: #1d6154;
  border-radius: 60px;
  padding: 7px 15px;
  background-color: #fffef8;
  margin-left: 10px;
}
.filters button:hover {
  background-color: #1d6154;
  color: white;
}
.filters {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "Syne";
  gap: 10px;
  margin: 51px;
}
.login {
  padding: 0 10px;
  text-decoration: none;
  color: black;
  font: inherit;
  vertical-align: baseline;
}
.login:hover {
  color: #b1663c;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container a {
  margin-left: 10px;
  position: relative;
  bottom: 14px;
  text-decoration: none;
  color: black;
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.42px;
}

.fa-regular {
  position: relative;
  bottom: 14px;
  margin-left: 20px;
}
/*modal*/
.modal {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: rgba(0, 0, 0, 0.8);
  animation: descend-modal 1s ease-in-out;
}
@keyframes descend-modal {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.modal-wrapper {
  border: 1px solid white;
  overflow: auto;
  width: 630px;
  height: 688px;
  max-width: calc(100vw - 20px);
  max-height: calc(100vw - 20px);
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.title-h3 {
  font-family: "Work Sans";
  font-size: 26px;
  font-weight: 400;
  line-height: 30.5px;
  text-align: center;
}
.container-title {
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 32%;
  margin-top: 30px;
}

.delete {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-size: 16px;
}
.container-pictures {
  display: flex;
  justify-content: center;
  width: 85%;
  overflow: auto;
}
.input-modal input {
  border: none;
  width: 237px;
  height: 36px;
  margin: 0;
}
.add-pictures {
  display: flex;
  width: 80%;
  border-bottom: 1px solid #b3b3b3;
  flex-wrap: wrap;
  gap: 7px;
  justify-content: flex-start;
  margin-top: 30px;
  padding-bottom: 67.3px;
}

.add-pictures img {
  width: 76.86px;
  height: 102.57px;
  display: block;
  object-fit: cover;
}
.fa-trash-can {
  border: 2px solid black;
  width: 15px;
  height: 17px;
  position: relative;
  left: 55px;
  top: 25px;
  color: #fff;
  background-color: black;
  text-align: center;
}
.input-modal {
  margin-top: 38px;
  display: flex;
  justify-content: space-around;
}

/*second modal*/
.modal-addpictures {
  display: none;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  border: 1px solid white;
  overflow: auto;
  width: 630px;
  height: 688px;
  max-width: calc(100vw - 20px);
  max-height: calc(100vw - 20px);
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  position: relative;
}
.fa-arrow-left {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 16px;
  cursor: pointer;
}
.fa-xmark2 {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 16px;
  cursor: pointer;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80%;
  width: 80%;
  gap: 10px;
  margin-left: 100px;
  overflow: auto;
}
.container-file {
  background-color: #e8f1f6;
  width: 420px;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 3px;
  margin-top: 36px;
}

.label {
  background-color: #cbd6dc;
}
.input2,
.img {
  display: none;
  width: 150px;
  height: 150px;
}
.label2 {
  width: 173px;
  height: 36px;
  text-align: center;
  background-color: #cbd6dc;
  border-radius: 50px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.42px;
  text-align: center;
}
.fa-image {
  font-size: 68.14px;
  top: 9.5px;
  left: 3.93px;
  color: #b9c5cc;
  margin-bottom: 5px;
  margin-top: 15px;
}
h4 {
  font-family: Work Sans;
  font-size: 26px;
  font-weight: 400;
  line-height: 30.5px;
  text-align: center;
}
.container-file,
p {
  font-family: Work Sans;
  font-size: 10px;
  font-weight: 400;
  line-height: 11.73px;
  text-align: center;
  color: #444444;
}
.label-title {
  margin-top: 30px;
}
.input-titre {
  width: 420px;
  height: 51px;
  box-shadow: 0px 4px 14px 0px #00000017;
  border: none;
}
.label-category {
  margin-top: 21px;
}
.select-category {
  width: 420px;
  height: 51px;
  box-shadow: 0px 4px 14px 0px #00000017;
  border: none;
  background-color: #fff;
  margin-bottom: 47px;
}
.border-2 {
  width: 420px;
  border-top: 1px solid #b3b3b3;
  display: flex;
  justify-content: center;
}

.button-valider {
  width: 237px;
  height: 36px;
  background: #a7a7a7;
  color: #fff;
  border: none;
  margin: 0px;
  margin-top: 20px;
}
.btnValider:hover {
  background-color: #1d6154;
  color: white;
}
.container-button {
  display: flex;
  justify-content: center;
  margin-right: 80px;
}

.valide {
  background-color: #1d6154;
}
.edition {
  height: 59px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  gap: 10px;
  z-index: 1;
}

.edition body {
  margin: 0;
}
.text {
  font-family: "Work Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 18.77px;
  text-align: center;
  color: #fff;
}

.edition .icon {
  position: relative;
  top: 0px;
}
#affichage1 {
  background: #000000;
}
